<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Handlebars - Dynamic Rendering: Partials [Demo]</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			{{{body}}}
		</div>
	</body>
	<script src="https://code.jquery.com/jquery.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $(document).on("submit", "#employee-form", function(event) { 
				event.preventDefault();
				
				var submitUrl = $(this).attr('action');
				$.post(submitUrl, function(renderedPartial) {
					console.log(renderedPartial);
					$('#employees').prepend(renderedPartial);
				});
			});
    });
  </script>
</html>
